# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [42]:
print("Hello, World!", 42, True, 3.14)

Hello, World! 42 True 3.14

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [43]:
print("Hello, World!", 42, True, 3.14, sep='-')

Hello, World!-42-True-3.14

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [44]:
print("Hello, World!", end=' ')
print(42, end=' ')
print(True, end=' ')
print(3.14)

Hello, World! 42 True 3.14

4) Can a python print function take no value to print???

In [45]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [46]:
# Variables from the provided information
friend_name = "Mr. Ahmed"
age = 30
profession = "Lawyer"
education = "Bachelors in Law"
graduation_year = 2005
law_firm = "The Himalya Associates"
city = "Karachi"
start_year = 2015
height = 5.10  # in feet
weight = 70600  # in grams
monthly_income = 200000  # in PKR

# Print the variables to verify
print("Name:", friend_name)
print("Age:", age)
print("Profession:", profession)
print("Education:", education)
print("Graduation Year:", graduation_year)
print("Law Firm:", law_firm)
print("City:", city)
print("Working Since:", start_year)
print("Height (feet):", height)
print("Weight (grams):", weight)
print("Monthly Income (PKR):", monthly_income)

Name: Mr. Ahmed
Age: 30
Profession: Lawyer
Education: Bachelors in Law
Graduation Year: 2005
Law Firm: The Himalya Associates
City: Karachi
Working Since: 2015
Height (feet): 5.1
Weight (grams): 70600
Monthly Income (PKR): 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [47]:

current_year = 2024 
graduation_year = 2005
years_since_graduation = current_year - graduation_year
print("Years since Mr. Ahmed's graduation:", years_since_graduation)

Years since Mr. Ahmed's graduation: 19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [48]:

start_year = 2015

years_in_firm = current_year - start_year
print("Years Mr. Ahmed has been working with 'The Himalya Associates':", years_in_firm)

Years Mr. Ahmed has been working with 'The Himalya Associates': 9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [49]:
monthly_income_pkr = 200000 
exchange_rate = 280 
monthly_income_usd = monthly_income_pkr / exchange_rate
print("Mr. Ahmed's monthly income in USD:", monthly_income_usd)

Mr. Ahmed's monthly income in USD: 714.2857142857143

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [50]:

monthly_income_pkr = 200000 
exchange_rate = 280 
monthly_income_usd = monthly_income_pkr / exchange_rate
if isinstance(monthly_income_usd, float):
    print("Income in USD is a float:", monthly_income_usd)
 
    monthly_income_usd = int(monthly_income_usd)
    print("Income in USD converted to integer:", monthly_income_usd)
else:
    print("Income in USD is already an integer:", monthly_income_usd)

Income in USD is a float: 714.2857142857143
Income in USD converted to integer: 714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [51]:
# Variables
weight_grams = 70600
print("Type of Mr. Ahmed's weight (in grams):", type(weight_grams))
weight_kg = weight_grams / 1000 
weight_kg = int(weight_kg)
print("Mr. Ahmed's weight in kilograms:", weight_kg)
print("Type of Mr. Ahmed's weight (in kilograms):", type(weight_kg))

Type of Mr. Ahmed's weight (in grams): <class 'int'>
Mr. Ahmed's weight in kilograms: 70
Type of Mr. Ahmed's weight (in kilograms): <class 'int'>

#11) print the year of birth of Mr. Ahmed.

In [ ]:

birth_year = current_year - age
birth_year

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [1]:
100%6
2

2